.custom-table {
    border-collapse: collapse;
    width: 50%;
}

.custom-table th,
.custom-table td {
    border: 1px solid #000000;
    text-align: left;
    padding: 2px;
}

.custom-table th {
    background-color: #d0d0d0;
}